#bilgiler
{
    background-color:rgb(122, 138, 230);
}
body
{
    background-image: url("../images/pp.png");
    margin-left: 30% ;
    margin-right: 30% ; 
    font-family: 'Luxurious Roman', cursive;
    
}